.layout {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 12px;
}

@media only screen and (max-width: 1024px) {
  .layout {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .layout {
    width: 90%;
  }
}
